<footer class="bg-dark text-light mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>FG-UNITED</h5>
        <p class="small">Delivering a timepiece experience that reflects true Arabian luxury.</p>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li><a href="/shop" class="text-light text-decoration-none">Shop</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Contact Us</h5>
        <p class="small mb-1">123 Watch Street, Timeville, USA</p>
        <p class="small mb-1">Email: info@fgunitedofficial.com</p>
      </div>
    </div>

    <div class="text-center border-top border-secondary pt-3 mt-3">
      <p class="small mb-0">&copy; Copyright ©2025 FGUNITED. All rights reserved.</p>
    </div>
  </div>
</footer>